<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body ng-app='demo' ng-controller='test'>
<button ng-click='fn()' ng-hide='isHide'>按钮</button>
<button ng-click='fn()' ng-hide='isHide'>按钮</button>
</body>
<script src='./node_modules/angular/angular.min.js'></script>
<script>
  var app = angular.module('demo', [])
  app.controller('test', function ($scope, $document) {
    $scope.isHide = false
    $scope.fn = function () {
      this.isHide = true
    }
  })
</script>
</html>